{% extends 'RekalogikaCommonBundle:Base:html5.html.twig' %}

{% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{ title }}
        {% if sitename %}
             - {{ sitename }}
        {% endif %}
    </title>

    {% block favicons %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}

    {% block metadata %}
        <meta name="author" content="PT Rekalogika Senarai Solusi">
    {% endblock %}

    {% block stylesheets %}
        {% block bootstrapcss %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            {% block bootstrapcsstheme %}
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
            {% endblock %}
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}

        {% block fontawesome %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% endblock %}

        {% if form is defined %}
            {{ form_stylesheet(form) }}
        {% endif %}

        {% block pagecss %}
        {% endblock %}
    {% endblock %}

    {% block headjavascripts %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% block customjavascripts %}
    {% endblock %}

    {% javascripts
        '@RekalogikaCommonBundle/Resources/public/js/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if form is defined %}
        {{ form_javascript(form) }}
    {% endif %}

    {% block pagejavascripts %}
    {% endblock %}
{% endblock %}
