<!DOCTYPE html>

{% set sitename %}
    {% block sitename %}My Site{% endblock %}
{% endset %}

{% set title %}
    {% block title %}Home{% endblock %}
{% endset %}

{% set siteurl %}
    {% block siteurl %}/{% endblock %}
{% endset %}

<html>
    <head>
        {% block head %}
            <title>{{ title }}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>