{% for flash in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        <strong>Success!</strong>
        {{ flash }}
    </div>
{% endfor %}
{% for flash in app.session.flashbag.get('fos_user_success') %}
    <div class="alert alert-success">
        <strong>Success!</strong>
        {{ flash }}
    </div>
{% endfor %}
{% for flash in app.session.flashbag.get('info') %}
    <div class="alert alert-info">
        <strong>Information.</strong>
        {{ flash }}
    </div>
{% endfor %}
{% for flash in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning">
        <strong>Warning!</strong>
        {{ flash }}
    </div>
{% endfor %}
{% for flash in app.session.flashbag.get('danger') %}
    <div class="alert alert-danger">
        <strong>Danger!</strong>
        {{ flash }}
    </div>
{% endfor %}