{% extends 'RekalogikaCommonBundle:Base:bootstrap3.html.twig' %}

{% block bootstrapcss %}
    {{ parent() }}
    {% stylesheets '@RekalogikaCommonBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ siteurl }}">
                    {{ sitename }}
                </a>
            </div>
            <div class="collapse navbar-collapse" id="mynav">
                {% block navmenu %}
                    <ul class="nav navbar-nav">
                        <li><a href="#">Foo</a></li>
                        <li><a href="#">Bar</a></li>
                    </ul>
                {% endblock %}
            </div>
        </div>
    </nav>

    <div class="container">
        {% block flashmessages %}
            {% include 'RekalogikaCommonBundle:Partial:bootstrap-flashmessages.html.twig' %}
        {% endblock %}

        {% block breadcrumb %}
            <ol class="breadcrumb">
                {% block breadcrumbbefore %}
                {% endblock %}
                <li class="active">{{ title }}</li>
            </ol>
        {% endblock %}

        {% block heading %}
            <h1>
                {{ title }}
                {% block titleafter %}
                {% endblock %}
            </h1>
        {% endblock %}

        {% block content %}{% endblock %}
    </div>

    {% block footer %}
        <div class="footer">
            <div class="container">
                {% block copyright %}
                    <p class="text-muted">Copyright © {% block copyrightyear %}2016{% endblock %}-{{ "now"|date("Y") }} PT Rekalogika Senarai Solusi</p>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}